html,
body,
.App {
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.message {
  font-size: 3rem;
  color: green;
  -moz-text-decoration-style: double;
}
